.footer {
    margin-top: 67px;
    padding-bottom: 60px;
}

.footer__copyright {
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 0;
}

@media screen and (max-width: 900px) {
    
    .footer {
        margin-top: 50px;
        padding: 0 19px 36px 19px;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}